---
import Layout from "../layouts/Layout.astro";
import "../styles/style.css";
---

<div id="404" class="w-full h-full flex flex-col justify-center">
  <h1 class="text-error text-highlighted font-black">404</h1>
  <span class="font-bold">Page not found </span>
  <p class="text-body">
    New achievement unlocked: <span class="italic">How Did We Get Here?</span>
  </p>
</div>
