---
import Layout from "../layouts/Layout.astro";
import MainParagraph from "../components/MainParagraph.astro";
---

<Layout>
  <h1 class="text-name mb-8 font-black">nick.dev</h1>
  <MainParagraph />
</Layout>
