---
import Layout from "../layouts/Layout.astro";
import MainParagraph from "../components/MainParagraph.astro";
import Skills from "../components/SkillsParagraph.astro";
import Experience from "../components/Experience.astro";
---

<Layout>
  <h1 class="text-name mb-8 font-black">nick.dev</h1>
  <MainParagraph />
  <Skills />
  <Experience />
</Layout>
