---
import Layout from "../layouts/Layout.astro";
import MainParagraph from "../components/MainParagraph.astro";
import Skills from "../components/SkillsParagraph.astro";
import Experience from "../components/Experience.astro";
import Focus from "../components/Focus.astro";
import Passions from "../components/Passions.astro";
import Links from "../components/Links.astro";
---

<Layout>
  <h1 class="text-name mb-8 font-black">nick.dev</h1>
  <MainParagraph />
  <Skills />
  <Experience />
  <Focus />
  <Passions />
  <Links />
</Layout>
