---
import BasicParagraph from "./BasicParagraph.astro";
---

<BasicParagraph title="experience">
  <p class="body text-justify mb-8">
    I am 15, so <span class="text-highlighted font-bold"
      >I can’t say I have much work experience</span
    >. In fact, my only experience is with developing a Flutter app for a
    company. However, I sure hope to find a job in the future as a full-time
    dev, fingers crossed.
  </p>
</BasicParagraph>
