<h2 class="text-subtitle font-bold mb-2">focus atm</h2>
<p class="text-body text-justify mb-8">
  During the year I’m mostly active during the summer, because of school
  &gt;.&lt; <br />I am currently working an <span
    class="text-highlighted font-bold"
    ><a
      class="hover:underline"
      target="_blank"
      href="https://github.com/nick747/wetranslit"
      >online transliteration tool</a
    >
  </span> from Latin alphabet to Cyrillic one and on <span
    class="text-highlighted font-bold">this website</span
  >.
</p>
