---
function getAge(dateString: string) {
  let today = new Date();
  let birthDate = new Date(dateString);
  let age = today.getFullYear() - birthDate.getFullYear();
  let m = today.getMonth() - birthDate.getMonth();
  if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
    age--;
  }
  return age;
}
---

<p class="body text-justify mb-8">
  Hey! I'm Mario, a {getAge("2008-12-18").toString()}-year-old Italian student
  aspiring to become a full-time developer. I started with the basics, literally
  — BASIC, VB, C, Java and C# — before going into <span
    class="text-highlighted font-bold">web development</span
  > with HTML, CSS and JavaScript. After a brief break, I got back into programming
  by learning
  <span class="text-highlighted font-bold">mobile app development</span>
  with Flutter & Dart. I’m also lucky that my school is offering a free course on
  that topic. Currently, I'm focusing on learning <span
    class="text-highlighted font-bold">web frameworks</span
  > like React, Svelte and Astro.
</p>
