---

---

<p class="body text-justify mb-8">
  hey! I'm Mario, a 15-year-old Italian student aspiring to become a full-time
  developer. I started with the basics — BASIC, VB, C, Java and C# — before
  going into <span class="text-highlighted font-bold">web development</span> with
  HTML, CSS and JavaScript. After a brief break, I got back into programming by learning
  <span class="text-highlighted font-bold">mobile app development</span>
  with Flutter & Dart. I’m also lucky that my school is offering a free course on
  that topic. Currently, I'm focusing on learning <span
    class="text-highlighted font-bold">web frameworks</span
  > like React, Svelte and Astro.
</p>
