<h2 class="text-subtitle font-bold mb-2">passions</h2>
<p class="text-body text-justify mb-8">
  Apart from programming, I enjoy <span class="text-highlighted font-bold"
    >listening to music</span
  >. You can view my profile <a
    class="hover:underline"
    target="_blank"
    href="https://open.spotify.com/user/3gsp4ck6hfgo0qh8onpkp8sf6"
    >here on Spotify</a
  >. <br />Additionally, I have an interest in <span
    class="text-highlighted font-bold">designing web and mobile app ideas</span
  >, although I am still developing this skill.
</p>
