<h2 class="text-subtitle font-bold mb-4">skills</h2>
<p class="text-body">
  I divide my skills into two groups. I'm <span
    class="text-highlighted font-bold">more comfortable</span
  > with these skills:
</p>
